<div id="navbar" class="navbar">
	<nav id="site-navigation" class="navigation main-navigation" role="navigation">
		<h3 class="menu-toggle">Menu</h3>
		<a class="screen-reader-text skip-link" href="{{ thisbaseurl }}#content" title="Aller au contenu principal">Aller au contenu principal</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="nav-menu">

{% for sous-menu-1 in site.data.menu %}
				{% assign active-item-class = '' %}
				{% for sous-menu-2 in sous-menu-1.menu %}
					{% if sous-menu-2.permalink == page.permalink %}
						{% assign active-item-class = ' class="current-menu-item"' %}
					{% endif %}
				{% endfor %}
				<li{{ active-item-class }}>
					<a href="#">{{ sous-menu-1.titre }}</a>
					<ul class="sub-menu">
	{% assign counter = 0 %}
	{% for sous-menu-2 in sous-menu-1.menu %}
		{% if sous-menu-2.permalink == page.permalink %}
			{% assign active-item-class = ' class="current-menu-item"' %}
		{% else %}
			{% assign active-item-class = '' %}
		{% endif %}
		{% assign counter = counter | plus: 1 %}
		{% if sous-menu-2.separator %}
			{% unless counter == 1 %}
			<li role="separator" class="divider"></li>
			{% endunless %}
			<li class="dropdown-header">{{ sous-menu-2.separator }}</li>
		{% elsif sous-menu-2.titre %}
			{% assign protocol = sous-menu-2.permalink | slice: 0, 4  %}
			{% if protocol == "http" %}
				{% assign permalink = sous-menu-2.permalink %}
				{% assign asterix = '<i style="margin-left:10px; color:#AAA;" class="fa fa-external-link"></i>' %}
			{% else %}
				{% assign permalink = thisbaseurl | append: sous-menu-2.permalink %}
				{% assign asterix = "" %}
			{% endif %}
						<li{{ active-item-class }}>
							<a href="{{ permalink }}">{{ sous-menu-2.titre }}{{ asterix }}</a>
						</li>
		{% endif %}
	{% endfor %}
	</ul>
</li>
{% endfor %}
			</ul>
		</div>
	</nav>
	<!-- #site-navigation -->
</div>
<!-- #navbar -->
